/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Muli', sans-serif;
}
p {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 2rem;
}
@media (max-width: 900px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
}
h2 {
  font-size: 2.5rem;
}
@media (max-width: 900px) {
  h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  h3 {
    font-size: 1.5rem;
  }
}
p {
  font-size: 1.2rem;
}
@media (max-width: 500px) {
  p {
    font-size: 1rem;
  }
}
header {
  background-color: #5BD59B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direciton: row;
}
header h1 {
  color: #1E2635;
  font-weight: bold;
}
@media (max-width: 500px) {
  header h1 {
    margin-left: 2%;
  }
}
@media (max-width: 900px) {
  header {
    padding: 3% 0%;
  }
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
header .logo-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direciton: row;
}
@media (max-width: 900px) {
  header .logo-text {
    width: 55%;
  }
}
@media (max-width: 500px) {
  header .logo-text {
    width: 70%;
    justify-content: center;
    text-align: center;
  }
}
header img {
  width: 20%;
}
@media (max-width: 500px) {
  header img {
    width: 30%;
  }
}
header nav {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direciton: row;
}
@media (max-width: 900px) {
  header nav {
    width: 100%;
    margin: 0 3%;
  }
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
    margin: 0 3%;
  }
}
header nav button {
  display: block;
  background-color: #1E2635;
  cursor: pointer;
  width: 150px;
  height: 45px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  color: #F3EDE6;
  font-weight: 700;
}
header nav button:hover {
  background-color: #F3EDE6;
  color: #1E2635;
  border: 2px solid #1E2635;
}
@media (max-width: 500px) {
  header nav button {
    height: 35px;
  }
}
@media (max-width: 900px) {
  header nav button {
    height: 40px;
  }
}
@media (max-width: 900px) {
  header nav button {
    width: 100px;
  }
}
@media (max-width: 500px) {
  header nav button {
    width: 100px;
  }
}
header nav a {
  font-size: 1.2rem;
  font-family: 'Muli', sans-serif;
  color: #1E2635;
  text-decoration: none;
}
@media (max-width: 900px) {
  header nav a {
    font-size: 1rem;
    margin: 0 2%;
  }
}
@media (max-width: 500px) {
  header nav a {
    font-size: 1rem;
    margin: 0 2%;
    text-decoration: underline;
  }
}
footer {
  background-color: #5BD59B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direciton: row;
}
footer img {
  width: 100px;
}
body .callToAction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direciton: row;
  background-image: url("../img/cta-img.jpg");
  background-position: center;
  height: 90vh;
}
@media (max-width: 900px) {
  body .callToAction {
    height: 65vh;
  }
}
@media (max-width: 500px) {
  body .callToAction {
    height: 60vh;
  }
}
body .callToAction .ctaCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direciton: column;
  flex-wrap: wrap;
  height: 40%;
}
body .callToAction h2 {
  color: #F3EDE6;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5%;
  text-shadow: -1px 0 #1E2635, 0 2px #1E2635, 2px 0 #1E2635, 0 -1px #1E2635;
}
@media (max-width: 500px) {
  body .callToAction h2 {
    font-size: 2rem;
  }
}
body .callToAction button {
  display: block;
  background-color: #1E2635;
  cursor: pointer;
  width: 70%;
  height: 45px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  color: #F3EDE6;
  font-weight: 700;
}
body .callToAction button:hover {
  background-color: #F3EDE6;
  color: #1E2635;
  border: 2px solid #1E2635;
}
@media (max-width: 500px) {
  body .callToAction button {
    height: 35px;
  }
}
@media (max-width: 900px) {
  body .callToAction button {
    height: 40px;
  }
}
@media (max-width: 500px) {
  body .callToAction button {
    width: 40%;
  }
}
@media (max-width: 900px) {
  body .callToAction button {
    width: 40%;
  }
}
body .featSection1 {
  background-color: #5BD59B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direciton: row;
  padding: 5% 5%;
}
@media (max-width: 500px) {
  body .featSection1 {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  body .featSection1 {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 500px) {
  body .featSection1 img {
    width: 95%;
  }
}
body .featSection1 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direciton: row;
  flex-wrap: wrap;
  margin-left: 5%;
}
body .featSection1 div h2 {
  margin: 5% 0;
}
@media (max-width: 900px) {
  body .featSection1 div {
    margin-left: 0;
  }
}
body .featSection1 div button {
  display: block;
  background-color: #1E2635;
  cursor: pointer;
  width: 30%;
  height: 45px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  color: #F3EDE6;
  font-weight: 700;
  margin: 5% 0;
}
body .featSection1 div button:hover {
  background-color: #F3EDE6;
  color: #1E2635;
  border: 2px solid #1E2635;
}
@media (max-width: 500px) {
  body .featSection1 div button {
    height: 35px;
  }
}
@media (max-width: 900px) {
  body .featSection1 div button {
    height: 40px;
  }
}
@media (max-width: 500px) {
  body .featSection1 div button {
    width: 60%;
  }
}
body .featSection2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: #1E2635;
  color: #F3EDE6;
  padding: 5% 5%;
}
@media (max-width: 500px) {
  body .featSection2 {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  body .featSection2 {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 500px) {
  body .featSection2 img {
    width: 95%;
  }
}
body .featSection2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direciton: row;
  flex-wrap: wrap;
  margin-right: 5%;
}
body .featSection2 div h2 {
  margin: 5% 0;
}
@media (max-width: 900px) {
  body .featSection2 div {
    margin-right: 0;
  }
}
body .featSection2 div button {
  display: block;
  background-color: #5BD59B;
  cursor: pointer;
  width: 30%;
  height: 45px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  color: #1E2635;
  font-weight: 700;
  margin: 5% 0;
}
body .featSection2 div button:hover {
  background-color: #1E2635;
  color: #5BD59B;
  border: 2px solid #5BD59B;
}
@media (max-width: 500px) {
  body .featSection2 div button {
    height: 35px;
  }
}
@media (max-width: 900px) {
  body .featSection2 div button {
    height: 40px;
  }
}
@media (max-width: 500px) {
  body .featSection2 div button {
    width: 60%;
  }
}
.about-top {
  display: flex;
  background-color: #1E2635;
  color: #F3EDE6;
}
.about-top img {
  margin: 5%;
}
.about-top .about-text {
  flex-direction: column;
  text-align: center;
  padding-top: 13%;
  padding-right: 2%;
}
.about-top .about-text h1 {
  padding: 3%;
}
.set-one {
  display: flex;
  padding-left: 2%;
  margin-right: -5%;
  margin-top: 2%;
}
.set-one .individual {
  width: 20vw;
}
.set-one .individual h3 {
  font-size: 1.3rem;
  line-height: 1.5;
}
.set-one .individual h4 {
  line-height: 1.5;
}
.set-one .individual .btn-sect {
  display: flex;
  padding-top: 2%;
}
.set-one .individual .folio {
  display: block;
  background-color: #16416C;
  cursor: pointer;
  width: 100px;
  height: 45px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  color: #F3EDE6;
  font-weight: 700;
  height: 30px;
  margin-right: 2%;
}
.set-one .individual .folio:hover {
  background-color: #F3EDE6;
  color: #16416C;
  border: 2px solid #16416C;
}
@media (max-width: 500px) {
  .set-one .individual .folio {
    height: 35px;
  }
}
@media (max-width: 900px) {
  .set-one .individual .folio {
    height: 40px;
  }
}
.set-one .individual .hub {
  display: block;
  background-color: #5BD59B;
  cursor: pointer;
  width: 100px;
  height: 45px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  color: #16416C;
  font-weight: 700;
  height: 30px;
}
.set-one .individual .hub:hover {
  background-color: #16416C;
  color: #5BD59B;
  border: 2px solid #5BD59B;
}
@media (max-width: 500px) {
  .set-one .individual .hub {
    height: 35px;
  }
}
@media (max-width: 900px) {
  .set-one .individual .hub {
    height: 40px;
  }
}
.set-two {
  display: flex;
  padding-left: 2%;
  margin-right: -2%;
  margin-bottom: 3%;
}
.set-two .individual {
  width: 20vw;
}
.set-two .individual img {
  padding-top: 2.5%;
}
.set-two .individual h3 {
  font-size: 1.3rem;
  line-height: 1.5;
}
.set-two .individual h4 {
  line-height: 1.5;
}
.set-two .individual .btn-sect {
  display: flex;
  padding-top: 2%;
}
.set-two .individual .folio {
  display: block;
  background-color: #5BD59B;
  cursor: pointer;
  width: 100px;
  height: 45px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  color: #F3EDE6;
  font-weight: 700;
  height: 30px;
  margin-right: 2%;
}
.set-two .individual .folio:hover {
  background-color: #F3EDE6;
  color: #5BD59B;
  border: 2px solid #5BD59B;
}
@media (max-width: 500px) {
  .set-two .individual .folio {
    height: 35px;
  }
}
@media (max-width: 900px) {
  .set-two .individual .folio {
    height: 40px;
  }
}
.set-two .individual .hub {
  display: block;
  background-color: #F3EDE6;
  cursor: pointer;
  width: 100px;
  height: 45px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  color: #16416C;
  font-weight: 700;
  height: 30px;
}
.set-two .individual .hub:hover {
  background-color: #16416C;
  color: #F3EDE6;
  border: 2px solid #F3EDE6;
}
@media (max-width: 500px) {
  .set-two .individual .hub {
    height: 35px;
  }
}
@media (max-width: 900px) {
  .set-two .individual .hub {
    height: 40px;
  }
}
