.about-top {
    display: flex;
    background-color: @dark-shades;
    color: @light-shades;

    @media @phone {
        flex-direction: column;
    }

    @media @tablet {
        flex-direction: column;
    }
    .about-img{
        .flexBox(center, center, row);
        padding: 5%;
    }

    img {
        border: 1px solid white;

        @media @tablet {
            width: 100%;
        }
        @media @phone {
            width: 75%;
            // border: 1px solid white;
        }
    }

    .about-text {
        flex-direction: column;
        text-align: center;
        padding-top: 10%;
        padding-right: 6%;

        @media @tablet {
            margin-top: -10%;
            padding: 5%;
        }

        @media @phone {
            padding: 7%;
        }

        

        h1 {
            padding: 3%;
        } 

    } //Closes .about-text

} //Closes .about-top
.bioCont{
    .flexBox(center, center, row);
    @media @phone{
        padding: 2%;
    }
    .bio-sect {

        .flexBox(center, center, row);
        flex-wrap: wrap;
    
        @media @tablet {
            width: 100%;
            flex-wrap: wrap;
        }
        @media @phone{
            width: 95%;
        }
        
        .individual {
            width: 17%;
            justify-content: space-evenly;
            margin: 1%;
            border: 2px solid @main-color;
            padding: 1%;
            border-radius: 10px;
    
            a{
                text-decoration: none;
            }
            @media @tablet{
                width: 25%;
            }
            @media @phone {
                display: flex;
                width: 100%;
            }
    
            img {
                width: 100%;
                border-radius: 10px;
                @media @tablet {
                    width: 100%;
                    padding-top: 0;
                }
                @media @phone {
                    width: 50%;
                }
                
            }
    
            .mobile {
                @media @phone {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    width: 50%;
                    margin-top: 3%;
                }
            }
    
            h3 {
                font-size: 1.3rem;
                line-height: 1.5;
                font-weight: 700;
            }
    
            h4 {
                line-height: 1.5;
                
                @media @tablet{
                    font-size: 1rem;
                } 
                @media @phone{
                    font-size: 1.2rem;
                } 
            }
    
            .btn-sect {
                display: flex;
                padding-top: 2%;
            .hub {
                .custom-btn(@main-color, 100px, @light-shades);
                height: 30px;
                font-weight: normal;
    
                    @media @phone {
                        margin-top: 10%;
                    }
                }
    
            }//Closes.btn-sect
    
        }//Closes .individual
    }//Closes .bio-sect
}
