.about-top {
    display: flex;
    background-color: @dark-shades;
    color: @light-shades;

    img {
        margin: 5%;
    }

    .about-text {
        flex-direction: column;
        text-align: center;
        padding-top: 10%;
        padding-right: 6%;

        h1 {
            padding: 3%;
        } 

    } //Closes .about-text

} //Closes .about-top

.set-one {
    display: flex;
    padding-left: 2%;
    margin-top: 2%;
    
    .individual {
        width: 20%;
        justify-content: space-evenly;

        h3 {
            font-size: 1.3rem;
            line-height: 1.5;
        }

        h4 {
            line-height: 1.5;
        }

        .btn-sect {
            display: flex;
            padding-top: 2%;
        .hub {
            .custom-btn(@main-color, 100px, @light-shades);
            height: 30px;
            font-weight: normal;
            }

        }//Closes.btn-sect

    }//Closes .individual
    
}//Closes .set-one

.set-two {
    display: flex;
    padding-left: 2%;
    margin-bottom: 3%;

   .individual {
        width: 20%;
        justify-content: space-evenly;

        img {
            padding-top: 2.5%;
        }

        h3 {
            font-size: 1.3rem;
            line-height: 1.5;
        }

        h4 {
            line-height: 1.5;
        }

        .btn-sect {
            display: flex;
            padding-top: 2%;

        .hub {
            .custom-btn(@main-color, 100px, @light-shades);
            height: 30px;
            font-weight: normal;
            }

        }//Closes .btn-sect  

    }//Closes .individual

}//Closes .set-two